<!DOCTYPE html>
<html ng-app="tictactoeApp" >
<head>
	<title>Tic Tac Toe</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-controller="TictactoeController as tictactoe" >
<h1>Tic Tac Toe</h1>
	<div id="board">
		<div class="square" ng-repeat="t in tictactoe.tictactoeBoard" ng-click="tictactoe.playerMove($index)">	
			<img ng-src="{{t.image}}">
		</div>
	</div>
	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/TictactoeController.js"></script>
</body>
</html> 