body {
background-color: green;
}

h1{
	text-align: center;
	color: white;
	font-size: 16;
}

.board {
width: 400px;
height: 400px;
background-color: gray;
margin: auto;
background-color: transparent;
}

.square {
width: 125px;
height: 125px;
background-color: white;
border: 1px solid black;
display: inline-block;
vertical-align: top;
background-color: ;
margin: 1.5px 

}